doctype html 
html 

    head 
        title Sign Up! 

    body 

        h1 This is the Sign Up Page.

        form(method="POST")

            input(name="username" type="text" placeholder="Username")
            input(name="password" type="text" placeholder="Password")

            br
            
            input(type="submit")
